#
# python part
#

# folder for containg large csv files for training
datasets/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cach

data/