#
# Python part
#

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cach
#
# Project structure
#
# Folder for containg large csv files for training models
datasets/*
# Folder for containing personal bot stats 
data/*