.navbar {
    background-color: #04293a;  
}


body
{
    background-color: #041c32;
}

.bg2
{
    background-color: #021a31;
}

.footer
{
    height: auto; 
    text-align: right; 
    background-color: #04293a;
}


.header
{
    text-align: center;
    color: #da9940;
    /* "Fixed top" fix*/
    padding-top: 100px; 
}

.miniHeader
{
    text-align: center;
    padding-top: 40px;
    color: #ecb365;
    font-size: 400%;

    margin: 0; /* Reset margin */
    line-height: 1.5; /* Adjust line height */
}


.numbers
{
    text-align: center;
    color: #ecb365;
    font-size: 200%;

    margin: 0; /* Reset margin */
    line-height: 1.5; /* Adjust line height */
}

.menuText
{
    color: #da9940;
}

.underValues
{
    padding-top: 40px;
}