@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');

:root {  
    --darkBlue: #041c32;  
    --darkerBlue: #021a31;  
    --yellow: #ecb365;  
    --orange: #da9940;
    --darkCyan: #04293a;
    --blobColor: #05293a76;
  }
  


.navbar 
{
    background-color: var(--darkCyan);  
}

body
{
    background-color: var(--darkBlue);
}

.bg2
{
    background-color: var(--darkerBlue);
}
.shape-blob {
	background-color:var(--blobColor);
	height: 60px;
	width: 80px;
	border-radius: 40% 50% 30% 40%;
  	animation: 
		transform 18s ease-in-out infinite both alternate,
		movement_one 12s ease-in-out infinite both;
	opacity:.7;
	position: fixed;
	left: 75%;
	top: 40%;
    filter:blur(4px);
    z-index: -1;
}

.shape-blob.one{
	background-color:var(--blobColor);
	height: 150px;
	width: 200px;
	left: 10px;
	top: 10px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six{
	background-color:var(--blobColor);
	height: 70px;
	width: 100px;
	left: 260px;
	top: 200px;
	transform: rotate(-180deg);
	animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}

.shape-blob.four{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 450px;
	top: 60px;
	transform: rotate(-180deg);
	animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

.shape-blob.five{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 580px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;
}

.shape-blob.two{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 700px;
	top: 150px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;
}

.shape-blob.three{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 1100px;
	top: 30px;
	transform: rotate(-180deg);
	animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;
}
.shape-blob.seven{
	background-color:var(--blobColor);
	height: 150px;
	width: 200px;
	left: 210px;
	top: 310px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 22s ease-in-out infinite both;
}

.shape-blob.twelve{
	background-color:var(--blobColor);
	height: 70px;
	width: 100px;
	left: 360px;
	top: 500px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 8s ease-in-out infinite both;
}

.shape-blob.ten{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 550px;
	top: 360px;
	transform: rotate(-180deg);
	animation: transform 19s ease-in-out infinite both alternate, movement_two 15s ease-in-out infinite both;
}

.shape-blob.eleven{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 680px;
	top: 330px;
	transform: rotate(-180deg);
	animation: transform 14s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.eight{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 800px;
	top: 450px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
}

.shape-blob.nine{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 1000px;
	top: 330px;
	transform: rotate(-180deg);
	animation: transform 9s ease-in-out infinite both alternate, movement_two 25s ease-in-out infinite both;
}
.shape-blob.thirteen{
	background-color:var(--blobColor);
	height: 150px;
	width: 200px;
	left: 210px;
	top: 610px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 22s ease-in-out infinite both;
}

.shape-blob.fourteen{
	background-color:var(--blobColor);
	height: 70px;
	width: 100px;
	left: 360px;
	top: 800px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 8s ease-in-out infinite both;
}

.shape-blob.fifteen{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 550px;
	top: 660px;
	transform: rotate(-180deg);
	animation: transform 19s ease-in-out infinite both alternate, movement_two 15s ease-in-out infinite both;
}

.shape-blob.sixteen{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 680px;
	top: 630px;
	transform: rotate(-180deg);
	animation: transform 14s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.seventeen{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 800px;
	top: 750px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
}

.shape-blob.eighteen{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 1000px;
	top: 630px;
	transform: rotate(-180deg);
	animation: transform 9s ease-in-out infinite both alternate, movement_two 25s ease-in-out infinite both;
}
.shape-blob.nineteen{
	background-color:var(--blobColor);
	height: 150px;
	width: 200px;
	left: 210px;
	top: 1010px;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 22s ease-in-out infinite both;
}

.shape-blob.twenty{
	background-color:var(--blobColor);
	height: 70px;
	width: 100px;
	left: 360px;
	top: 1200px;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 8s ease-in-out infinite both;
}

.shape-blob.twentyone{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 550px;
	top: 1060px;
	transform: rotate(-180deg);
	animation: transform 19s ease-in-out infinite both alternate, movement_two 15s ease-in-out infinite both;
}

.shape-blob.twentytwo{
	background-color:var(--blobColor);
	height: 100px;
	width: 80px;
	left: 680px;
	top: 1030px;
	transform: rotate(-180deg);
	animation: transform 14s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.twentyfour{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 800px;
	top: 1150px;
	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
}

.shape-blob.twentyfive{
	background-color:var(--blobColor);
	height: 150px;
	width: 150px;
	left: 1000px;
	top: 630px;
	transform: rotate(-180deg);
	animation: transform 9s ease-in-out infinite both alternate, movement_two 25s ease-in-out infinite both;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%; } 
   20% { border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%; } 
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%; } 
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%; } 
   80% { border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%; } 
}


@keyframes movement_one
{
    0%,
  100% { transform: none; }
   50% { transform: translate(50%, 20%) rotateY(10deg) scale(1); }
}

@keyframes movement_two
{
    0%,
  500% { transform: none; }
   50% { transform: translate(50%, 20%) rotate(-200deg) scale(1.3);}
}


.footer
{
    height: auto; 
    text-align: right; 
    background-color: var(--darkCyan);
}


.header
{
    text-align: center;
    color: var(--orange);
    text-decoration: underline;
    /* "Fixed top" fix*/
    padding-top: 100px; 
}

.miniHeader
{
    text-align: center;
    padding-top: 40px;
    color: var(--yellow);
    font-size: 300%;

    margin: 0; /* Reset margin */
    line-height: 1.5; /* Adjust line height */
}


.numbers
{
    text-align: center;
    color: var(--yellow);
    font-size: 200%;

    margin: 0; /* Reset margin */
    line-height: 1.5; /* Adjust line height */
}
*,
*::before,
*::after 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menuText {
    color: var(--orange);
}
.underL
{
    position: relative;
    color: var(--orange); 
}
.underL:after
{
    content: "";
    position:absolute;
    background-color:var(--orange);
    height: 3px;
    left: 0;
    width: 0;
    bottom: 0px;
    transition: 0.3s;
    scale: 0 1;
}
.underL:hover
{
    color:var(--orange);
}
.underL:hover::after
{
    width: 100%;
    transition: 0.3s;
    scale: 1 1;
}
.underValues
{
    padding-top: 40px;
}

.fixedFooter
{
    padding-bottom: 50px;
    color: var(--orange);
    text-align: center;
    font-size: 200%;
}


.btn
{
    background-color: var(--darkCyan); 
    color: var(--orange);
    border-color: var(--orange);
    transition: 0.3s background-color 0.3s color 0.3;
}
.btn:hover 
{
    background-color: var(--orange);
    color:var(--darkCyan);
    border-color:var(--darkCyan);
}

.separator
{
    padding-bottom: 500px;
}