<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styleProphet.css">
    <title>Prophet</title>
</head>
<body style="background-color: #041c32;">
    
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <img class="logo" src="img/Snímek obrazovky 2024-01-06 150713.png"> 
            <h1 class="headline">Prophet</h1> 
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="tabulka" aria-current="page" href="#tabulka" >Tabulka</a>
                    </li>
                    <li class="nav-item" >
                        <a class="bambulka" href="#bambulka">Bambulka</a>
                    </li>
                    <li>
                        <img class="user" src="img/Snímek obrazovky 2024-01-07 203836.png">
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <p class="firstNumber">
                69 420 USD
            </p>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <p class="secNumber">
                1.5819 BTC
            </p>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <p class="thrdNumber">
               + 3,4% in the last hour
            </p>
        </div>
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <p class="frthNumber">
               BUY 0.048 BTC
            </p>
        </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>