<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleSign.css" />
  </head>
  <body>
    <div class="wireframe">
      <div class="div">
        <div class="overlap"><div class="text-wrapper">E-mail</div></div>
        <div class="overlap-group"><div class="text-wrapper-2">Username</div></div>
        <div class="div-wrapper"><div class="text-wrapper">Confirm password</div></div>
        <div class="overlap-2"><div class="text-wrapper">Password</div></div>
        <div class="text-wrapper-3">Sign In</div>
        <p class="already-have-an">
          <span class="span">Already have an account? </span> <span class="text-wrapper-4">Log in!</span>
        </p>
      </div>
    </div>
  </body>
</html>
